{% load thumbnail %}
<html>
    <head>
        <title>{{ album.name }} - Gallery</title>
    </head>
    <body>
        <h3>{{ album.name }}</h3>
        {% if photo_list %}
        {% for photo in photo_list %}
        <div style="display: inline-block; vertical-align: middle; width:140px">
            <a href="{{ photo.image.url }}"><img src="{{ photo.image|thumbnail }}" style="vertical-align: top"/></a>
            <div style="text-align:center; height: 1.25em; width: 128px; overflow: hidden; font-size: 8pt">{{ photo.caption }}</div>
        </div>
        {% endfor %}
        {% else %}
        <p>No photos in album!</p>
        {% endif %}
    </body>
</html>
